* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 80px 0;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(-90deg, #4a47a3, #ad62aa);
}

.calc {
    width: 400px;
    background-color: black;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.screen {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: #d8d9db;
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}

.calc-button:hover {
    background-color: #ebebeb;
}

.calc-button:active {
    background-color: #bbbcbe;
}

.calc-button:last-child {
    background-color: #30475e;
    color: white;
}

.calc-button:last-child:hover {
    background-color: #27496d;
}

.calc-button:last-child:active {
    background-color: #00a8cc;
}

.double {
    width: 49.7%;
}

.triple {
    width: 74.8%;
}

.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}